.nav-full {
  background-color: #fff;
  padding: 15px 0;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin: 0 8px;
  border-radius: 50% 86%;
}

.logo:hover {
  transform: scale(1.08);
}

.itemtitle {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.itemtitle:hover {
  transform: rotateX(180deg);
}

.itemnav {
  transition: transform 0.2s ease;
}

.itemnav:hover {
  transform: scale(1.08);
  font-family: cursive;
}

.login {
  background-color: rgb(5, 5, 57);
  color: #fff;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.login:hover {
  color: #fff;
  transform: rotateZ(360deg);
}
